.pagina-registro{
	background-color: white;
	margin-top: 10%;
	opacity: .7;
	.contenedor{
		padding: 5%;
		h1{
			font: 50px/51px "Oswald", sans-serif;
      color: #e15b32;
      margin-top: 0;
      text-align: center;
      span{
      	font: 30px/31px "Oswald", sans-serif;
      	color: #21a97e;
      }
		}
		h2, h2:hover, h2:active{
			box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.9);
	    font: 200 3em/1em Lato;
			a:hover{

				text-decoration: none;
	    }
			span{
				color: #21a97e;
			}
		}
		.destacado-datos-usuario{
			h1{
				text-align: left;
			}
		}
	}
}
   
///////////// ESTILOS DEL ACORDEON ////////////

.panel-title a{
	cursor: pointer;
}