@import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.etiquetas-laterales{
  margin: 0;
  text-transform: uppercase;
  position: fixed;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
}
.nombreUsuario {
  padding: 20px 50px;
  font: 100 4em/1em Lato;
  top: 80%;
  right: 0;
  a:hover{
    text-decoration: none;
  }
}
.guia{
  top: 0;
  left: 0;
  font: 100 2em/1em Lato;
  padding: 15px 30px;

}

.contacta{
  label{
    color: #21a97e;
    font: 400 1.2em/1em Lato;
  }
  button{
    font: 300 2em/1em Lato;
    border-radius: 0;
    background-color: #21a97e;
  }
}
