@import url(http://fonts.googleapis.com/css?family=Cabin:700);

.boton-ruleta-grande{
	height: 170px;
	border: 3px solid white;
	margin-bottom: 50px;
	background-color: white;
	opacity: 0.7;
	border: 2px solid white;
	vertical-align: middle;
	&:hover{
		text-decoration: none;
	}
	span{
		font: 50px/51px "Oswald", sans-serif;
	    color: #e15b32;
	    text-align: center;
	}
	.principal{
		font: 70px/51px "Oswald", sans-serif;
		color: #428bca;
	}
}

.container-ruleta {
    width: 402px;
    height: 402px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 4000px;
       -moz-perspective: 4000px;
         -o-perspective: 4000px;
            perspective: 4000px;
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    .panels-backface-invisible figure {
	    -webkit-backface-visibility: hidden;
	       -moz-backface-visibility: hidden;
	         -o-backface-visibility: hidden;
	            backface-visibility: hidden;
    }

}

.ready #carousel {
    -webkit-transition: all 5s ease;
       -moz-transition: all 5s ease;
         -o-transition: all 5s ease;
            transition: all 5s ease;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    -webkit-transition: all 5s ease;
       -moz-transition: all 5s ease;
         -o-transition: all 5s ease;
            transition: all 5s ease;
}

.imagen-carousel{
 	//border: 3px solid white;
 	height: 402px;
	width: 402px;
}


