@import url(http://fonts.googleapis.com/css?family=Cabin:700);

.boton-ruleta-grande{
	height: 184px;
	margin-bottom: 50px;
	background-color: red;
	opacity: 0.7;
	border: 3px solid white;
	vertical-align: middle;
	margin-top: 21px;
	color: white;
	&:hover{
		text-decoration: none;
	}
	span{
		font:300 50px/51px "Oswald", sans-serif;
	    text-align: center;
	}
	.principal{
		font:300 70px/51px "Oswald", sans-serif;
	}
}

.eleccion-imagenes{
	margin-top: 20px;
	label{
		color: #21a97e;;
	}
}

.filtro-imagenes{
	height: 40px;
	border-radius: 7px;
	width: 183px;
}

.boton-crear{
	font: 300 2em/1em Lato;
	border-radius: 0;
	background-color: #21a97e;
	color: white;
	padding: 23px;
	opacity: .7;
	margin-top: 10px;
	margin-bottom: 20px;
}

.titulo-destacado-imagenes{
	color: #21a97e !important;
}

.listado-tipos-imagenes{
	display: inline-block;
	background-color: white;
	opacity: 0.7;
	border: 2px solid white;
	vertical-align: middle;
	font: 27px/26px "Oswald", sans-serif;
	color: #e15b32;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
}


.container-ruleta {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto 40px;
    -webkit-perspective: 4000px;
       -moz-perspective: 4000px;
         -o-perspective: 4000px;
            perspective: 4000px;
}

.listado-imagenes{
	margin-top: 10px;
	li{
		list-style: none;
		//display: inline-block;
		padding: 10px;
	}
	.imagen-muestra{
		height: 140px;
		width: 160px;
		margin: 20px;
	    border: 5px solid #eee;
	    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	    -webkit-transition: all 0.5s ease-out;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	}
	.activada{
		background-color: black;
		display: block;		
		opacity: 0.4;
		-webkit-transform: rotate(-7deg);
	    -moz-transform: rotate(-7deg);
	    -o-transform: rotate(-7deg);
	}
}

#carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
    .panels-backface-invisible figure {
	    -webkit-backface-visibility: hidden;
	       -moz-backface-visibility: hidden;
	         -o-backface-visibility: hidden;
	            backface-visibility: hidden;
    }

}

.ready #carousel {
    -webkit-transition: all 5s ease;
       -moz-transition: all 5s ease;
         -o-transition: all 5s ease;
            transition: all 5s ease;
}

#carousel figure {
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    -webkit-transition: all 5s ease;
       -moz-transition: all 5s ease;
         -o-transition: all 5s ease;
            transition: all 5s ease;
}

.imagen-carousel{
 	height: 400px;
	width: 400px;
}


