$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'navbar';
@import 'nav-lateral';
@import 'paginaPrincipal';
@import 'iconos';
@import 'parallax';
@import 'paginas-registro';
@import 'modal';
@import 'ruleta';
@import 'simon';