<div id="navigation" class="col-lg-12">
  <button class="col-lg-6 boton-ruleta-grande">Añadir</button>
  <button class="col-lg-6 boton-ruleta-grande" id="next" data-increment="1">JUGAR!!!</button>
</div>
<div class="col-lg-12 ready">
        <script src="scripts/scripts/funcionRuleta.js"></script>
        <script src="scripts/scripts/configuracionRuleta.js"></script>

{{hola}}


<!-- Para visible o invisible class="panels-backface-invisible" en div id="carousel"-->


<section class="container-ruleta">
      <div id="carousel" class="panels-backface-invisible" style="transform: translateZ(-426px) rotateY(-55.38461538461539deg);">
        <figure ng-repeat="e in casillas">
          <img ng-src="{{e}}" class="imagen-carousel">
        </figure>
      </div>
    </section>

    <section id="options"style="display:none;">
      <p>
        <label for="panel-count">panels</label>
        <input type="range" id="panel-count" value="4" min="3" max="20"

    </section>

</div>

<!-- <div class="row">
  <div class="col-lg-12 ruleta">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      
      </slide>
    </carousel>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div ng-click="open()" class="circle-container">
      <div class="outer-ring"></div>
      <div class="circle">
        <div class="front">
          <p>CONFIG</p>
        </div>
        <div class="back">
          <p>CONFIG</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div ng-click="pause()" class="circle-container">
      <div class="outer-ring"></div>
      <div class="circle">
        <div class="front">
          <p>Pulsa!</p>
        </div>
        <div class="back">
          <p>Pulsa!</p>
        </div>
      </div>
    </div>
  </div>

</div> -->
        


