<div class="modal-header">
  <h3 class="modal-title">¿No estas registrado?</h3>
  <h4 class="modal-subtitle">Si continuas, no se guardarán tus cambios</h4>
</div>
<div class="modal-body">  
	<ul class="ch-grid">
  	<li>
      <a href="/login" ng-click="cancel()">
        <div class="ch-item">       
          <div class="ch-info">
            <div class="ch-info-front color-front-1">
              <h3>Login</h3>
            </div>
            <div class="ch-info-back color-back-1">
              <p>Accede con tu usuario y contraseña</p>
            </div>  
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="/signup" ng-click="cancel()">
        <div class="ch-item">       
          <div class="ch-info">
            <div class="ch-info-front color-front-2">
              <h3>Crea tu cuenta</h3>
            </div>
            <div class="ch-info-back color-back-2">
              <p>Crea tu propia cuenta de usuario</p>
            </div>  
          </div>
        </div>
      </a>
    </li>
  </ul>

</div>
<div class="modal-footer">
    <a href="/ruleta" class="boton btn btn-lg btn-primary" data-dismiss="modal" ng-click="cancel()">Seguir sin guardar</a>
</div>
